ul li {
  border: solid black 1px;
  margin: 9px;
  list-style-type: none;
  padding: 10px;

}

.cake-image {
  padding: 6px;
  background: lightgray;
  border: solid darkgray 1px;
  margin-right: 5px;
}
